name: Generate Pac-Man

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Generate Pac-Man
        uses: Platane/snk@v3
        with:
          github_user_name: Traxxouu
          outputs: |
            dist/pacman.gif?palette=github-dark&color_snake=yellow&color_dots=#1a1a1a,#663300,#994d00,#cc6600,#FF6B35
            
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
